# Sample printer.cfg configuration file

# Mainsail
[include mainsail.cfg]

# This file contains all settings for KAMP, and must be included in printer.cfg with:
[include KAMP_Settings.cfg]

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

# Sovol SV01 Pro frame and kinematics
[include ./sv01pro/printer-sovol-sv01-pro.cfg]

## Tool Head
# Sovol Titan-style extruder and hot end
[include ./sv01pro/tool_head_sovol_titan.cfg]
# Sovol Titan bi-metal heat break modification - increase maximum temperature to 300°C
#[extruder]
#max_temp: 300

# Stepper current UART mod
#[include ./stepper_uart.cfg]

# Sovol Planetary tool head conversion
#[include ./sv01pro/tool_head_sovol_planetary_high_flow.cfg]

## Extruder and hot end modifications
[extruder]
nozzle_diameter: 0.4

# Printer calibration
[extruder]
rotation_distance: 4.59
pressure_advance:0.02
pressure_advance_smooth_time:0.035
pid_Kp:24.522 
pid_Ki:1.397 
pid_Kd:107.590

[bltouch]
#z_offset: 0.5

# DGUS touchscreen firmware
# Requires using the gbkwiatt Klipper fork https://github.com/gbkwiatt/klipper
# and DWIN_SET firmware from https://github.com/fryc88/klipper-sv06plus-screen
# [include ./sv01pro/touchscreen-t5uid1.cfg]

# Moonraker
[pause_resume]

# Object exclusion
[exclude_object]

[display_status]

[virtual_sdcard]
path: ~/printer_data/gcodes

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 0.570
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 69.133
#*# pid_ki = 1.392
#*# pid_kd = 858.114
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 19.506
#*# pid_ki = 1.093
#*# pid_kd = 87.044
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.262500, -0.127500, -0.060000
#*# 	-0.260000, -0.132500, -0.030000
#*# 	-0.310000, -0.170000, -0.080000
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 125.3
#*# max_x = 164.68
#*# min_y = 93.34
#*# max_y = 146.66
